/* fonts */
@font-face {
	src: url(../fonts/Abel/Abel-Regular.ttf);
	font-family: abel;
	font-weight: normal;
}

@font-face {
	src: url(../fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
	font-family: fatface;
	font-weight: normal;
}

*{
    cursor: url(../star.cur), default;
}

.homepage {
    background-color: #FCF7EE;
    
}

.navigation {
    
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navLeft {
    padding-left: 2%;
    padding-top: 1%;
    background-color: #CFDBCD;
    width: 45%;

}

.logo {
    height: 80%;
    
}

.navRight {
    margin-right: 2%;
    margin-top: 1%;
    width: 40%;
}

.item {
    font-family: abel;
    color: #333;
    font-size: 1.2rem;
    margin-left: 5%;
    margin-right: 5%;
    letter-spacing: 3px;
}

.item:hover {
    color: #AAB284;
}

.home {
    margin: 0;
    padding: 0;
    margin-top: 0;
}

.content {
    display: flex;
}

.left {
    width: 50%;
    margin-right: 0;
    padding-right: 0;
    display: flex;
    background-color: #CFDBCD;
    margin-right: 10%;
}

.line {
    padding-left: 30%;
    padding-right: 5%;
    padding-top: 10%;
}

.coverimg {
    width: 70%;
    height: auto;
    padding-bottom: -2%;
    background-color: #CFDBCD;
    margin-right: 0;
    padding-right: 0;
}

.right {
    width: 40%;
    padding-right: 10%;
    margin-left: 0;
    justify-content: center;
    padding-top: 5%;
}

.title {
    text-align: center;
    font-family: fatface;
    letter-spacing: 3px;
}

.description {
    font-family: abel;
    text-align: center;
    font-size: 1.1rem;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3%;
    letter-spacing: 3px;
}

.buttonclass {
    padding-top: 2%;
    text-align: center;
}

.button {
    font-family: abel;
    color: #333;
    font-size: 0.9rem;
    font-weight: 900;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 5px;
    background-color: #D4A384;
    text-align: center;
}

.colorblock {
    height: 5%;
    background-color: #FCF7EE;
}

.colorgreen {
    width: 45%;
    background-color: #CFDBCD;    
}

.line2 {
    margin-left: 33.3%;
}

.lookbook {
    background-color: #DCDADF;
    padding-bottom: 5%;
    padding-top: 3%;
}

.collectiontitle {
    font-family: fatface;
    padding-left: 5%;
    padding-bottom: 2%;
    letter-spacing: 3px;
    font-size: 2rem;
}

.collections {
    justify-content: space-between;
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
}

.collection {
    width: 30%;
}

.collectionimg {
    width: 100%;
}

.collectiondes {
    font-family: abel;
    text-align: center;
    padding-top: 2%;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 3px;
}